* {
  font-family: "Roboto", sans-serif; }

body {
  min-height: 1920px; }

header {
  position: relative;
  height: 50px; }

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2; }

.hamburger {
  display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none; }
  .menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300; }
  .menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px; }
    .menu .menu_item:last-child {
      border-right: none; }

.subheader {
  top: 50px;
  width: 100%;
  position: absolute;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader .subheader_text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 6px; }

.subheader_call {
  color: #ffffff;
  margin-top: 19px;
  font-size: 12px;
  font-weight: 300;
  text-align: right; }

.subheader_call_tel {
  display: block;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 12px;
  text-align: right;
  margin-top: 8px; }

.subheader .subheader_btn {
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgbaa(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgbaa(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  margin: 19px 0 19px 0;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }
  .subheader .subheader_btn:hover {
    background-image: none;
    background-color: #1eacc7; }

.promo {
  padding: 150px 0 135px 0;
  min-height: 800px;
  background: url(../img/bg/dg_header.jpg) center center/cover no-repeat; }
  .promo .promo_header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
    text-align: center; }
  .promo .promo_subheader {
    margin-top: 22px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom: 0;
    text-align: center; }
  .promo .promo_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }
  .promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0 -4px 0 rgbaa(0, 0, 0, 0.12);
            box-shadow: inset 0 -4px 0 rgbaa(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgbaa(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    .promo .promo_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

.workWithUs {
  padding: 71px 0 65px 0; }
  .workWithUs .workWithUs_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px; }
    .workWithUs .workWithUs_item .workWithUs_round {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 26px;
      width: 113px;
      height: 113px;
      background-color: #1eacc7;
      border-radius: 100%; }
    .workWithUs .workWithUs_item .workWithUs_descr {
      width: 343px;
      min-height: 142px; }
  .workWithUs .workWithUs_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: justify; }
  .workWithUs .workWithUs_descr .workWithUs_textTitle {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400; }

.workWithUs_title {
  text-align: center;
  margin-top: 44px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 26px; }

.workWithUs_btn {
  display: block;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center; }

.workWithUs_subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px; }

.mobile {
  min-height: 864;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile.jpg") center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    width: 320px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 19px;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url("../img/mobil_app/1.jpg") center center/cover no-repeat; }
    .mobile_item_2 {
      background: url("../img/mobil_app/2.jpg") center center/cover no-repeat; }
    .mobile_item_3 {
      background: url("../img/mobil_app/3.jpg") center center/cover no-repeat; }
    .mobile_item_4 {
      background: url("../img/mobil_app/4.jpg") center center/cover no-repeat; }
    .mobile_item_5 {
      background: url("../img/mobil_app/5.jpg") center center/cover no-repeat; }
    .mobile_item_6 {
      background: url("../img/mobil_app/6.jpg") center center/cover no-repeat; }
    .mobile_item_subtitle {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center; }
    .mobile_item_plus {
      position: relative;
      width: 26px;
      height: 26px;
      background-color: #000000;
      margin: 0 auto;
      border-radius: 100%;
      padding: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      cursor: pointer; }
      .mobile_item_plus:before {
        content: "";
        display: block;
        margin: auto 0;
        width: 14px;
        height: 2px;
        background-color: #1eacc7; }
      .mobile_item_plus:after {
        content: "";
        display: block;
        position: absolute;
        left: 47%;
        width: 2px;
        height: 14px;
        background-color: #1eacc7;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
        background-color: pink; }

.car_up {
  position: relative;
  padding-top: 57px;
  min-height: 499px;
  background: url("../img/Carup.jpg") center center/cover no-repeat; }
  .car_up_btn {
    width: 112px;
    height: 24px;
    display: block;
    background-color: #ffffff;
    margin: 0 auto;
    color: #070716;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .car_up_title {
    margin-top: 32px;
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    line-height: 18px; }
  .car_up_subtitle {
    margin-top: 19px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-align: center; }
  .car_up_img {
    position: absolute;
    display: block;
    margin-top: 56px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
.car_botton {
  min-height: 397px;
  background: url("../img/carbottom.jpg") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .car_botton_text {
    margin-top: 65px;
    width: 297px;
    height: 42px;
    color: #222222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; }

.require {
  padding: 68px 0 84px 0; }
  .require_block {
    margin: 33px 0; }
    .require_block_nmb {
      margin-bottom: 0; }
  .require_title {
    color: #1ca8c3;
    font-size: 22px;
    font-weight: 400; }
    .require_title_pink {
      color: #ff5656;
      font-size: 22px;
      font-weight: 400; }
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      position: relative;
      color: #222222;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 10px; }
      .require_list li:before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;
        width: 21px;
        height: 20px;
        background: url("../icons/plus.png") center center/cover no-repeat; }
  .require_descr {
    margin-top: 25px;
    color: #1ca8c3;
    font-weight: 300;
    font-style: 17px;
    line-height: 24px; }
  .require .warning .require_title {
    color: #ff5656; }
  .require .warning .require_list li:before {
    background: url("../icons/minus.png") center center/cover no-repeat; }

.allworld {
  min-height: 717px;
  background: url("../img/bg/allworld.jpg") center center/cover no-repeat;
  padding-top: 49px;
  position: relative; }
  .allworld_link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    text-align: center;
    margin-top: 486px;
    margin-bottom: 49px;
    width: 200px;
    height: 14px;
    color: #1fbad6;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase; }

.footer {
  min-height: 148px;
  padding: 0 23px 0 23px; }
  .footer_divinder {
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto;
    margin-top: 14px;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  .footer_wrapper {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer_wrapper_wrapper > div {
      width: 30%; }
      .footer_wrapper_wrapper > div:nth-child(3) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
    .footer_wrapper_iconleft {
      width: 160px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer_wrapper_iconleft_box {
        width: 32px;
        height: 32px;
        background-color: #070716;
        border-radius: 100%;
        margin-right: 9px; }
        .footer_wrapper_iconleft_box_a {
          display: block;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center;
          padding-top: 2px; }
    .footer_wrapper_links {
      margin: 0 0;
      -ms-flex-preferred-size: 390px;
          flex-basis: 390px;
      -webkit-transform: translateX(50px);
              transform: translateX(50px); }
      .footer_wrapper_links_main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .footer_wrapper_links_main_item {
          color: #070716;
          font-size: 15px;
          font-weight: 300;
          text-transform: uppercase;
          line-height: 12px;
          direction: none; }
      .footer_wrapper_links_sublinks {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 15px; }
        .footer_wrapper_links_sublinks_item {
          color: #999999;
          font-size: 11px;
          font-weight: 300;
          text-transform: uppercase;
          line-height: 12px; }
      .footer_wrapper_links_lunguage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 18px; }
        .footer_wrapper_links_lunguage a {
          color: #1fbad6;
          font-size: 11px;
          font-weight: 400;
          text-transform: uppercase; }

.subfooter_line {
  height: 8px;
  background-color: #070716; }

.xs-visible {
  display: none; }

@media (max-width: 1200px) {
  .menu .menu_item {
    padding-right: 20px; }
    .menu .menu_item .menu_link {
      font-size: 13px; }

  .promo .promo_header {
    font-size: 55px; }

  .workWithUs .workWithUs_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .workWithUs .workWithUs_item .workWithUs_descr {
      width: 300px; }

  .mobile_item {
    width: 300px;
    height: 260px; }

  .footer {
    padding: 0px 10px 0 10px; } }
@media (max-width: 991px) {
  .menu .menu_item {
    padding-right: 8px; }
    .menu .menu_item .menu_link {
      font-size: 10px; }

  .subheader .subheader_logo img {
    width: 100%; }
  .subheader .subheader_text {
    font-size: 11px; }
  .subheader_call_tel {
    font-size: 18px; }
  .subheader .subheader_btn {
    width: 100%;
    margin-top: 21px;
    height: 40px; }

  .promo .promo_header {
    font-size: 40px; }
  .promo .promo_subheader {
    font-size: 30px; }

  .workWithUs .workWithUs_title {
    font-size: 36px; }
  .workWithUs .workWithUs_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .workWithUs .workWithUs_item .workWithUs_descr {
      margin-top: 20px; }

  .footer_divinder {
    -webkit-transform: translateX(4px);
            transform: translateX(4px); }
  .footer_wrapper .footer_wrapper_links {
    margin-right: 75px;
    -webkit-transform: translateX(40px);
            transform: translateX(40px); }
  .footer_wrapper_shops {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 40px; }
  .footer_wrapper_link {
    margin-top: 3px; } }
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s;
    transition: 0.6s; }
    .menu_active {
      left: 0; }
    .menu .menu_item {
      padding-right: 0;
      border: none;
      margin: 10px; }
      .menu .menu_item .menu_link {
        font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .xs-visible {
    display: block; }

  .xs-visible.subheader_call_tel {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }

  .subheader .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase; }

  .promo .promo_header {
    font-size: 35px;
    line-height: 24px; }
  .promo .promo_subheader {
    font-size: 25px;
    line-height: 20px; }

  .workWithUs .workWithUs_title {
    font-size: 28px; }

  .workWithUs_title {
    font-size: 30px; }

  .footer_divinder {
    -webkit-transform: translateX(4px);
            transform: translateX(4px); }
  .footer_wrapper .footer_wrapper_links {
    -webkit-transform: translateX(40px);
            transform: translateX(40px); }
  .footer_wrapper_iconleft {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin-top: 5px; }
  .footer_wrapper_shops {
    margin-top: 7px;
    margin-bottom: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(3%);
            transform: translateX(3%); }
  .footer_wrapper_link {
    margin-top: 5px;
    margin-right: 5px; }

  .car_up_img {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */